registry=https://pkgs.dev.azure.com/somya2000/artifactdemo/_packaging/trial/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/somya2000/_packaging/trial/npm/registry/:username=somya2000
//pkgs.dev.azure.com/somya2000/_packaging/trail/npm/registry/:_password="eWZiZGQzanV3d2dndXVsaGRjN2t2anNkYWV4NnAyeXdncDNvZW4zdmh5em91cTNoZ25qYQ=="
//pkgs.dev.azure.com/somya2000/_packaging/trail/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/somya2000/_packaging/trail/npm/:username=somya2000
//pkgs.dev.azure.com/somya2000/_packaging/trail/npm/:_password="eWZiZGQzanV3d2dndXVsaGRjN2t2anNkYWV4NnAyeXdncDNvZW4zdmh5em91cTNoZ25qYQ=="
//pkgs.dev.azure.com/somya2000/_packaging/trail/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
